# Monorepo .gitignore
node_modules
.env
.env.local
.env.*.local

# Next.js
/.next/
/out/
.next

# Build outputs
/build
/dist
*.tsbuildinfo

# IDEs
.vscode
.idea
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
/apps/api/generated
